<div class="col-md-12">
  <h2>Ingresa tu inconveniente:</h2>
  <form id="subterrorForm">
    <label>Destino a:</label>
    <input class="form-control" type="text" name="sense" placeholder="Ej: Destino a Retiro">

    <label>Selecciona tu estacion:</label>
    <select class="form-control" name="station" id="station_id">
      <option *ngFor="let station of stations" value="{{stations.id}}">{{station.station}}</option>
    </select>

    <label>Selecciona el tipo de inconveniente:</label>
    <select class="form-control" name="eventType" id="eventtype_id">
      <option *ngFor="let eventType of eventTypes" value="{{eventType.id}}">{{eventType.description}}</option>
    </select>

    <br>
    <button class="btn btn-primary" id="submit">Enviar</button>
  </form>
</div>
